*{
    margin: 0;
    padding: 0;
    color: white;
}
body{
    background-color: #282828;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.converter{
    width: 400px;
    background-image: url(assests/Untitled\ design.jpg);
    background-size: cover;
    border-radius: 30px;
    text-align: center;
    padding: 1rem;
}

h1{
  margin: 1rem;
}

.amount{
    margin-top: 2rem;
}

.amount p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

form,button,input,select {
    width: 100%;
    border: none;
    outline: none;
    border-radius: 0.75rem;
}

.dropdown{
    display: flex;
    justify-content: space-between;
    margin-top: 3rem;
    align-items: center;
}

.dropdown p{
    font-size: 1.2rem;
}


form input{
    border: 1px solid grey;
    padding-left: 0.5rem;
    height: 2rem;
    font-size: 1rem;
    color: black;
}

.currency_list{
    display: flex;
    margin-top: 1rem;
    border: 1px solid whitesmoke;
    border-radius: 0.75rem;
    align-items: center;
    padding: 0.25rem;
}
.dropdown i{
    margin-top: 2.8rem;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
.currency_list img{
    max-width: 6rem;
}

.currency_list select{
    width: 5rem;
    height: 2rem;
    margin-left: 1rem;
    background: none;
    font-size: 1rem;
}
.currency_list select option{
    color: black;
}

form button{
    height: 4rem;
    margin-top: 5rem;
    background-color: rgb(70, 195, 245);
    border: 2px solid rgb(2, 52, 71);
    width: 75%;
    box-shadow: 0px 0px 10px black;
    cursor: pointer;
    margin-bottom: 1rem;
    color: black;
    font-size: 1rem;
}

form button:hover{
    transform: scale(1.2);
    transition: transform 0.6s ease;
}